@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
    <p>
        <strong>Exception Details:</strong> @Model.Exception.Message
    </p>
    <p>
        <strong>Controller:</strong> @Model.ControllerName
    </p>
    <p>
        <strong>Action:</strong> @Model.ActionName
    </p>
}
