@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <p class="lead">Welcome to Contoso University</p>
    <p>This sample application demonstrates how to use Entity Framework 6 in an ASP.NET MVC 5 application with Windows Authentication.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            Add, edit, and delete students and view their enrollment records.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Students")">Student List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>Add, edit, and delete courses and assign them to departments.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Courses")">Course List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructors</h2>
        <p>Add, edit, and delete instructors and assign them to courses.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Instructors")">Instructor List &raquo;</a></p>
    </div>
</div>
